
@media all and (max-width:2560px){
    .burger_close {
        display: flex;
    }
}
@media all and (max-width:600px){
    .burger_close {
        display: flex;
    }
    .burger-menu {
        display: flex;
    }
    .navbar__item {
        display: none;
    }
    .active {
        display: none;
    }
}